.table-view{
   -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #616161;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}
.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: transparent;
    -fx-alignment: CENTER ;
    -fx-text-alignment: center;
}
.table-row-cell:filled:hover {
    -fx-alignment: CENTER;
    -fx-text-alignment: center;
    -fx-background-color: rgba(0, 149, 255,0.5);
}
.table-view:row-selection {
    -fx-background-color: rgba(0, 149, 255,0.5);
    -fx-text-fill: white;
    -fx-alignment: CENTER;
    -fx-text-alignment: center;
}
.table-view .table-column{
    -fx-text-alignment: center;
    -fx-alignment: CENTER;
    -fx-background-color: transparent;
}